#
# /etc/udev/rules.d/99-speed-disk.rules
#
# After changing this, run udevadm test --action=add /sys/block/sda
# and if everything's okay, reload w/ sudo udevadm control --reload-rules


# scheduler = cfq
# readahead = 1024KB
# nr_requests = 1024

SUBSYSTEM=="block", ATTR{queue/rotational}=="0", ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{bdi/read_ahead_kb}="1024", ATTR{bdi/nr_requests}="1024", ATTR{queue/scheduler}="deadline", ATTR(queue/add_random)="0"


